body {
	font-family: 'Assistant', sans-serif;
	line-height: 1.5;
	margin: 0;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

h1,
h2,
h3 {
	font-family: 'Secular One', sans-serif;
	font-weight: 400;
	margin 0;
}


h1 {
	font-size: 45px;
}

h2 {
	font-size: 40px;
}

.logo {
	background-color: black;
	padding: 30px;
}

.logo img {
	display: block;
	margin: auto;
}

.logo h1 {
	margin: 0;
	font-family: 'Amatic SC', cursive;
	color: white;
	text-align: center;
}

.container {
	padding: 150px 40px;
	margin: 0;
}

.inner-container {
	max-width: 780px;
	margin: auto;
	font-size: 24px;
	text-align: center;
	padding: 20px 10px;
}

.safety {
	background: url(images/safety.jpg) center;
	background-size: cover;
}

.technology {
	background: url(images/technology.jpg) center;
	background-size: cover;
}

.legacy {
	background: url(images/legacy.jpg) center;
	background-size: cover;
}

.black-transparent {
	background-Color: rgba(0, 0, 0, 0.3);
	color: white;
}

.white-transparent {
	background-Color: rgba(255, 255, 255, 0.7);
	color: black;
}

.galery {
	padding: 50px;
	height: 700px;
	background-color: black;
	color: white;
}
.contact {
	background: #e2e2e2;
	padding: 40px;
	font-size: 24px;
	text-align: center;
}

.contact a {
	text-decoration: none;
	color: black;
}
