body {
	font-family: 'Assistant', sans-serif;
	line-height: 1.5;
	font-size: 24px;
	margin: 0;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

h1,
h2,
h3 {
	font-family: 'Secular One', sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin 0;
}


.logo {
	background-color: black;
	padding: 30px;
}

.logo img {
	display: block;
	margin: auto;
}

.logo h1 {
	margin: 0;
	color: white;
	font-family: 'Assistant', sans-serif;
	text-align: center;
}

.container {
	padding: 150px 40px;
	margin: 0;
}

.inner-container {
	max-width: 780px;
	margin: auto;
	text-align: center;
	padding: 20px 10px;
}

.safety {
	background: url(images/safety.jpg) center;
	background-size: cover;
}

.technology {
	background: url(images/technology.jpg) center;
	background-size: cover;
}

.legacy {
	background: url(images/legacy.jpg) center;
	background-size: cover;
}

.black-transparent {
	background-Color: rgba(0, 0, 0, 0.3);
	color: white;
}

.white-transparent {
	background-Color: rgba(255, 255, 255, 0.7);
	color: black;
}

.gallery {
	padding: 20px 0;
	background-color: white;
	color: black;
}

.gallery .inner-container {
	max-width: 1400px;
}

.gallery-inner {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	font-size: 21px;

	list-style-type: none;
	padding: 0;
}

.gallery-inner img {
	display: block;
	margin: auto;
	border-radius: 20px;
}

.gallery li {
	transition: .3s;
}

.gallery li:hover {
	transform: scale(1.05);
}

.button {
	transition: .3s;
	display: inline-block;
	text-decoration: none;
	background-color: #b8c6db;
	background-image: -webkit-linear-gradient(bottom right, #b8c6db 0%, #f5f7fa 94%);
	background-image: -o-linear-gradient(bottom right, #b8c6db 0%, #f5f7fa 94%);
	background-image: linear-gradient(to top left, #b8c6db 0%, #f5f7fa 94%);
	color: black;

	/*border: 1px solid #e2e2e2;*/
	border-radius: 20px;

	font-family: 'Secular One', sans-serif;
	font-size: 27px;
	padding: 15px 45px;
	margin: 50px 0;
}

.button:hover {
	transform: scale(1.1);
}

.button:active {
	background-color: #ffffff;
	background-image: -webkit-linear-gradient(bottom right, #ffffff 0%, #d7e1ec 74%);
	background-image: -o-linear-gradient(bottom right, #ffffff 0%, #d7e1ec 74%);
	background-image: linear-gradient(to top left, #ffffff 0%, #d7e1ec 74%);
}

.contact {
	background: #e2e2e2;
	color: black;
	padding: 40px;
}

. .contact a {
	text-decoration: none;
	color: black;
}

.contact img:hover {
	transform: scale(1.3);
}
